div {
	text-align: center;
}
.braon {
	color: brown;
}
.ivice {
	border-radius: 30px;
}
.velicina {
	width: 50px;
}
.bek {
	background-color: aqua;
}
footer {
	background-color: aqua;
}
